body {
  text-align: center;
}

#color-palette {}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 2px;
}

#pixel-board {
  /* ref: https://www.w3schools.com/css/css_grid.asp */
  display: inline-grid;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}
